.card-container {
    border: 1px solid red;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.card {
    margin: 0vw 1vw 0 1vw;
}

.card-1 {
    width: 100%;
}

.card-2 {
    width: 100%;
}